# Adult Dataset

Data consists of several columns:
1. Age
2. WorkClass
3. Weight: Refers to the number of people the census believes the entry represents.
4. Education
5. EducationNumber
6. Marriage Status
7. Occupation
8. Relationship
9. Race
10. Sex
11. CapitalGain 
12. CapitalLoss
13. HoursPerWeek
14. Native Country
15. Salary

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'/content'

In [3]:
data = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/Machine Learning/Data Training/Income.csv')
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
data.shape

(32560, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
data.columns = ['Age', 'WorkClass', 'Weight', 'Education', 'EducationNumber', 'Marriage', 'Occupation', 'Relationship', 
                'Race', 'Sex', 'CapitalGain', 'CapitalLoss', 'HoursPerWeek', 'Native Country', 'Salary']
data.head()

,Age,WorkClass,Weight,Education,EducationNumber,Marriage,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [7]:
data_copy = data.copy()
data_copy.head(100)

,Age,WorkClass,Weight,Education,EducationNumber,Marriage,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
96,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
97,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
98,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K
99,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [8]:
data_copy.isna().sum()

Age                0
WorkClass          0
Weight             0
Education          0
EducationNumber    0
Marriage           0
Occupation         0
Relationship       0
Race               0
Sex                0
CapitalGain        0
CapitalLoss        0
HoursPerWeek       0
Native Country     0
Salary             0
dtype: int64

Separate the Marriage column into MarriageStatus and RelationshipStatus:

In [9]:
data_copy['MarriageStatus'] = data_copy['Marriage'].apply(lambda x: x.split('-')[0])
data_copy.head()

,Age,WorkClass,Weight,Education,EducationNumber,Marriage,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married

In [10]:
# for data in data_copy['Marriage']:
#   if len(data_copy.split('-')) == 2:
#     data_copy['RelationshipStatus'].insert(value=data_copy)

In [11]:
categorical_data = [x for x in data_copy.columns if data_copy[x].dtype == 'O']
print('Categorical Variables: ', categorical_data)

Categorical Variables:  ['WorkClass', 'Education', 'Marriage', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native Country', 'Salary', 'MarriageStatus']

In [12]:
categorical_variables = list(filter(lambda x: data_copy[x].dtype == 'O', data_copy.columns))

In [13]:
for data in categorical_variables:
    print('{0}: \n'.format(data), data_copy[data].value_counts())

WorkClass:
  Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: WorkClass, dtype: int64
Education:
  HS-grad         10501
 Some-college     7291
 Bachelors        5354
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: Education, dtype: int64
Marriage:
  Married-civ-spouse       14976
 Never-married            10682
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: Marriage, dtype: int64
Occupation:
  Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: Occupation, dtype: int64
Relationship:
  Husband           13193
 Not-in-family      8304
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: Relationship, dtype: int64
Race:
  White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: Race, dtype: int64
Sex:
  Male      21789
 Female    10771
Name: Sex, dtype: int64
Native Country:
  United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Native Country, dtype: int64
Salary:
  <=50K    24719
 >50K      7841
Name: Salary, dtype: int64
MarriageStatus:
  Married      15417
 Never        10682
 Divorced      4443
 Separated     1025
 Widowed        993
Name: MarriageStatus, dtype: int64

In [14]:
for data in categorical_variables:
  print('{0}:'.format(data), data_copy[data].isna().sum())

WorkClass: 0
Education: 0
Marriage: 0
Occupation: 0
Relationship: 0
Race: 0
Sex: 0
Native Country: 0
Salary: 0
MarriageStatus: 0

In [15]:
data_copy['Marriage'].unique()

array([' Married-civ-spouse', ' Divorced', ' Married-spouse-absent',
       ' Never-married', ' Separated', ' Married-AF-spouse', ' Widowed'],
      dtype=object)

In [16]:
relation = []
for data in data_copy['Marriage']:
  if len(data.split('-')) > 2:
    relation.append((data.split('-')[1:])[0])
  else:
    relation.append(np.NAN)

Relation = [str(x) for x in relation]
data_copy['PartnerStatus'] = Relation
data_copy['PartnerStatus'] = data_copy['PartnerStatus'].map({'civ': 'Civil', 'spouse': 'Absent', 'AF':'Military'})
data_copy['PartnerStatus'].replace(np.NaN, 'No Information', inplace=True)
data_copy.head()

,Age,WorkClass,Weight,Education,EducationNumber,Marriage,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,Civil
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married,Civil

In [17]:
data_copy['PartnerStatus'].unique()

array(['Civil', 'No Information', 'Absent', 'Military'], dtype=object)

In [18]:
data_copy['PartnerStatus'].isna().sum()

0

Drop the Marriage Column:

In [19]:
data_copy.drop('Marriage', axis=1, inplace=True)
data_copy.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self-emp-not-inc,83311,Bachelors,13,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,HS-grad,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,11th,7,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil
3,28,Private,338409,Bachelors,13,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,Civil
4,37,Private,284582,Masters,14,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married,Civil

In [20]:
data_copy['WorkClass'].unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [21]:
temp = []
for data in data_copy['WorkClass']:
  temp.append(data)

stripped = [data.strip() for data in temp]
data_copy['WorkClass'] = stripped
data_copy['WorkClass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [22]:
# data_copy['WorkClass'].map({'Self-emp-not-inc':'Self Employed Uninc', 'State-gov':'State', 'Federal-gov':'Federal', 
#                             'Local-gov':'Local', '?':'No Information', 'Self-emp-inc': 'Self Employed Inc', 
#                             'Never-Worked':'Unemployed', 'Without-pay':'Unpaid Work'})
# data_copy['WorkClass'].unique()

In [23]:
work = {'Self-emp-not-inc':'Self Employed', 'Private':'Private', 'State-gov':'Government', 'Federal-gov':'Government', 
        'Local-gov':'Government', '?':'No Information', 'Self-emp-inc': 'Self Employed', 
        'Without-pay':'Unpaid Work', 'Never-worked':'Unemployed'}

class MultipleValues(dict):
    def keylist(self, keys, value):
        for key in keys:
            self[key] = value

WorkClass = MultipleValues(work)
data_copy['WorkClass'] = data_copy['WorkClass'].map(WorkClass)
data_copy['WorkClass'].unique()

array(['Self Employed', 'Private', 'Government', 'No Information',
       'Unpaid Work', 'Unemployed'], dtype=object)

In [24]:
data_copy.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self Employed,83311,Bachelors,13,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,HS-grad,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,11th,7,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil
3,28,Private,338409,Bachelors,13,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,Civil
4,37,Private,284582,Masters,14,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married,Civil

Intermediate Save:

In [25]:
data_worked = data_copy.copy()
data_worked.head(3)

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self Employed,83311,Bachelors,13,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,HS-grad,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,11th,7,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil

In [26]:
data_worked['Education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

It is fair to say that we can categorize this data into distinct sensible categories:
```r
1. Preschool, 9th, 7th-8th, 5th-6th, 10th, 1st-4th, 11th, 12th => School
2. HS-Grad => High School
3. Assoc-acdm, Assoc-voc => Associate
4. Bachelors, Some-college => Undergraduate
5. Masters => Graduate
6. Doctorate => Doctorate
7. Prof-School => Professional School
```

In [27]:
stripped = [data.strip() for data in data_worked['Education']]
data_worked['Education'] = stripped
data_worked['Education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [28]:
education = {'Bachelors':'Undergraduate', 'HS-grad':'High School', '11th':'School', 'Masters':'Graduate',
             '9th':'School', 'Some-college':'Undergraduate','Assoc-acdm':'Associate', 'Assoc-voc':'Associate', '7th-8th':'School', 
             'Doctorate':'Doctorate', 'Prof-school':'Professional School','5th-6th':'School', '10th':'School', '1st-4th':'School', 'Preschool':'School', '12th':'School'}

EducationClass = MultipleValues(education)

data_worked['Education'] = data_worked['Education'].map(EducationClass)
data_worked['Education'].unique()

array(['Undergraduate', 'High School', 'School', 'Graduate', 'Associate',
       'Doctorate', 'Professional School'], dtype=object)

In [29]:
data_worked.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self Employed,83311,Undergraduate,13,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,High School,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,School,7,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil
3,28,Private,338409,Undergraduate,13,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,Civil
4,37,Private,284582,Graduate,14,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married,Civil

In [30]:
EdNum = data_worked['EducationNumber'].unique()
np.sort(EdNum)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

Intuitively, the Education Number could be the years of education that the sample population  has received. We will leave this here for now and explore this column in detail later.

In [31]:
data_worked['Occupation'].unique()

array([' Exec-managerial', ' Handlers-cleaners', ' Prof-specialty',
       ' Other-service', ' Adm-clerical', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [32]:
stripped = [data.strip() for data in data_worked['Occupation']]
data_worked['Occupation'] = stripped
data_worked['Occupation'].unique()

array(['Exec-managerial', 'Handlers-cleaners', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [33]:
data_worked['Occupation'].replace('?', 'Unknown', inplace=True)
data_worked['Occupation'].unique()

array(['Exec-managerial', 'Handlers-cleaners', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', 'Unknown', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

We leave this column as it is. There is nothing much to gain by making any changes here.

In [34]:
data_worked['Native Country'] = [data.strip() for data in data_worked['Native Country']]
data_worked['Native Country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [35]:
to_replace = {'?':'Unknown', 'Hong':'Hong Kong', 'Trinadad&Tobago':'Trinidad and Tobago',
              'Holand-Netherlands':'Netherlands'}
for key, value in to_replace.items():
  data_worked['Native Country'] = data_worked['Native Country'].replace(key, value)

data_worked['Native Country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 'Unknown', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinidad and Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong Kong', 'Ireland',
       'Hungary', 'Netherlands'], dtype=object)

In [36]:
data_worked.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary,MarriageStatus,PartnerStatus
0,50,Self Employed,83311,Undergraduate,13,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,Civil
1,38,Private,215646,High School,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced,No Information
2,53,Private,234721,School,7,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,Civil
3,28,Private,338409,Undergraduate,13,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,Civil
4,37,Private,284582,Graduate,14,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Married,Civil

In [37]:
data_worked.columns.values

array(['Age', 'WorkClass', 'Weight', 'Education', 'EducationNumber',
       'Occupation', 'Relationship', 'Race', 'Sex', 'CapitalGain',
       'CapitalLoss', 'HoursPerWeek', 'Native Country', 'Salary',
       'MarriageStatus', 'PartnerStatus'], dtype=object)

In [38]:
columns = ['Age', 'WorkClass', 'Weight', 'Education', 'EducationNumber',
       'Occupation', 'Relationship', 'MarriageStatus', 'PartnerStatus', 'Race', 'Sex', 'CapitalGain',
       'CapitalLoss', 'HoursPerWeek', 'Native Country', 'Salary']
data_worked = data_worked[columns]
data_worked.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,MarriageStatus,PartnerStatus,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary
0,50,Self Employed,83311,Undergraduate,13,Exec-managerial,Husband,Married,Civil,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,High School,9,Handlers-cleaners,Not-in-family,Divorced,No Information,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,School,7,Handlers-cleaners,Husband,Married,Civil,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Undergraduate,13,Prof-specialty,Wife,Married,Civil,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Graduate,14,Exec-managerial,Wife,Married,Civil,White,Female,0,0,40,United-States,<=50K

Check the shape: Remember that we dropped one column (Marriage) but added two (MarriageStatus and PartnerStatus).

In [39]:
data_worked.shape

(32560, 16)

We now save the data and see if we can drop any categories before moving further:

In [40]:
data_preprocessed = data_worked.copy()
data_preprocessed.head()

,Age,WorkClass,Weight,Education,EducationNumber,Occupation,Relationship,MarriageStatus,PartnerStatus,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,Native Country,Salary
0,50,Self Employed,83311,Undergraduate,13,Exec-managerial,Husband,Married,Civil,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,High School,9,Handlers-cleaners,Not-in-family,Divorced,No Information,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,School,7,Handlers-cleaners,Husband,Married,Civil,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Undergraduate,13,Prof-specialty,Wife,Married,Civil,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Graduate,14,Exec-managerial,Wife,Married,Civil,White,Female,0,0,40,United-States,<=50K

In [41]:
data_preprocessed['EducationNumber'].value_counts()

9     10501
10     7291
13     5354
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: EducationNumber, dtype: int64

In [42]:
data_preprocessed['Occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Unknown              1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: Occupation, dtype: int64

In [43]:
data_preprocessed['WorkClass'].value_counts()

Private           22696
Government         4350
Self Employed      3657
No Information     1836
Unpaid Work          14
Unemployed            7
Name: WorkClass, dtype: int64

We can stop the preprocessing for now and analyse the data.
We export this data as a CSV file:

In [44]:
data_preprocessed.to_csv(r'drive/MyDrive/Colab Notebooks/Machine Learning/Data Training/Income_preprocessed.csv', index=False)

We will use the Preprocessed Dataset for analysis.